body {
    background: black;
    color: white;

    .actionHeader {
        background: black !important;
    }

    .userMessage {
        color: black;
    }

    .buttons {
        background: black;
    }
}