body {
  margin: 0;
}
/* :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-dark
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-qgg3xn).ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
    background-color: transparent; 
    color: #1677ff;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;